{% extends './base.html' %}

{% block extra_scripts %}

{% endblock %}


{% block main %}

<div>
  <h3>Received Payments</h3>

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Create Time</th>
      <th>Payment Time</th>
      <th>Payment Bitcoin Address</th>
      <th>Received Amount</th>
      <th>Bitcoin transaction ID</th>
      <th>Network</th>
      <th>Payment Status</th>
    </tr>
    {% for tx in transactions %}
    <tr>
      <td>{% if tx.payment_complete %}{{ tx.key.id }}{% else %}-- Hidden ID --{% endif %}</td>
      <td>{{ tx.create_time }}</td>
      <td>{% if not tx.payment_time %}N/A{% else %}{{ tx.payment_time }}{% endif %}</td>
      <td><code>{{ tx.payment_address }}</code></td>
      <td>{% if not tx.amount %}N/A{% else %}{{ tx.amount }}{% endif %}</td>
      <td>{% if not tx.tx_id %}N/A{% else %}{{ tx.tx_id }}{% endif %}</td>
      <td>{% if tx.is_mainnet %}Mainnet{% else %}Testnet{% endif %}</td>
      <td>{% if tx.payment_complete %}<span class="label label-success">Paid</span>{% else %}<span class="label label-warning">Pending</span>{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8"><div style="padding:40px;text-align:center">No transactions found</div></td>
    </tr>
    {% endfor %}
  </table>

  {% if complete %}
  <a href="/received">View completed transactions</a>
  {% else %}
  <a href="/received?complete=false">View pending transactions</a>
  {% endif %}

</div>



{% endblock %}
